  h1 {
    background-color: hsl(179, 48%, 70%);
    display: flex;
    justify-content: center;
    width: 50vw;
    padding: 0 30 0 30;
    font-family: monospace;
    
  }
  #title {
    display: flex;
    justify-content: center;
    width: 50vw;
    
}
  h3 {
    background-color: hsl(179, 48%, 70%)
    
  }
 
  #head-container {
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 0 30 0 30;
    
  }
  body {
    background-image: url('https://biv.com/sites/default/files/styles/media_image/public/2017-12/gv_20130903_biv0119_130909993.jpg?itok=4W4GbGzp');
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: large;
  }
  #number {
    width: 9vw;
  }
  form {
    background-color: hsl(179, 48%, 70%);
    padding: 30px;
    width: 50vw;
    opacity: 80%;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
  }
 
  #p-element {
    background-color: hsl(179, 48%, 70%);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 0 30 0 30;
  }
  .container {
    height: 50px;
    position: relative;
    
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
