.container, .milestones {
    padding:5px 30px 30px 30px;
    margin:10px;
    border:solid white 1px;
    border-radius:5px;
    background-color:#e6e6e6;
    text-align:center;
  }

  .btn-success, .btn-danger {
    width:15vw;
  }

  h4 {
      left: 1rem;
  }


.milestones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upgrade_1, #upgrade_2, #upgrade_3, #upgrade_4, #upgrade_5 {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}